<template>
    <div>

        <div class="container">
            <div class="handle-box">

                <el-button type="primary" icon="el-icon-search" @click="handleAdd">新增</el-button>
            </div>
            <el-table
                :data="tableData"
                border
                class="table"
                ref="multipleTable"
                header-cell-class-name="table-header"
                @selection-change="handleSelectionChange"
            >

                <el-table-column prop="value" label="ID" width="55" align="center"></el-table-column>
                <el-table-column prop="label" width="180" label="规则名称"></el-table-column>
                <el-table-column width="180" label="适用岗位" align="center">
                    <template slot-scope="scope">
                        <el-tag
                            :type="scope.row.type==='液奶职能'?'success':(scope.row.type==='液奶工厂'?'danger':'info')"
                        >{{scope.row.type}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="描述"  align="center">
                    <template slot-scope="scope">
                        {{scope.row.desc}}
                    </template>
                </el-table-column>
                <el-table-column label="创建人"  align="center">
                    <template >
                        管理员
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="240" align="center">
                    <template slot-scope="scope">
                        <el-button
                            type="text"
                            icon="el-icon-edit"
                            @click="handleEdit(scope.$index, scope.row)"
                        >编辑</el-button>
                        <el-button
                            type="text"
                            icon="el-icon-delete"
                            class="red"
                            @click="handleDelete(scope.$index, scope.row)"
                        >删除</el-button>
                        <el-button
                            type="text"
                            icon="el-icon-delete"
                            class="info"
                            @click="handleDelete(scope.$index, scope.row)"
                        >禁用</el-button>

                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                    background
                    layout="total, prev, pager, next"
                    :current-page="query.pageIndex"
                    :page-size="query.pageSize"
                    :total="pageTotal"
                    @current-change="handlePageChange"
                ></el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog :title="dialogTitle" :visible.sync="editVisible"  height="80%" width=40%>

                <el-scrollbar width="auto" height="100%">
                    <v-rule :rule="tmp"></v-rule>
                </el-scrollbar>
                

            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveEdit">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 新增窗口 -->
         <el-dialog title="编辑" :visible.sync="addVisible" width="30%">
            <el-form ref="formAdd" :model="formAdd" label-width="140px">
                <el-form-item label="规则名称">
                    <el-input v-model="formAdd.name"></el-input>
                </el-form-item>
                <el-form-item label="规则应用岗位">
                    
                    <el-select  v-model="formAdd.belong" placeholder="请选择">
                    <el-option  label="液奶工厂" value="液奶工厂"></el-option>
                    <el-option  label="液奶销售" value="液奶销售"></el-option>
                    <el-option  label="液奶职能" value="液奶职能"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="规则描述">
                    <el-input v-model="formAdd.desc"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveAdded">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { fetchRuleData } from '../../api/index';
import  vRule  from '../common/Rule.vue';

export default {
    name: 'rulelist',
    data() {
        return {
            query: {
                address: '',
                name: '',
                pageIndex: 1,
                pageSize: 10
            },
            tableData: [],
            multipleSelection: [],
            dialogTitle:'',
            tmp:{
                type:0,
                left:{
                        type:"2",
                        value:''
                },
                action:'+',
                right:{
                        type:"2",
                        value:''
                }
            },
            editVisible: false,
            addVisible: false,
            formAdd:{
                name:'',
                belong:'',
                desc:''
            },
            pageTotal: 0,
            form: {},
            idx: -1,
            id: -1
        };
    },
    created() {
        this.getData();
    },
    components: {
        vRule,
    },
    methods: {
        // 获取 easy-mock 的模拟数据
        getData() {
            fetchRuleData(this.query).then(res => {
                console.log(res);
                this.tableData = res.list;
                this.pageTotal = res.pageTotal || 50;
            });
        },
        // 触发搜索按钮
        handleAdd() {
            // this.$set(this.query, 'pageIndex', 1);
            // this.getData();
            this.formAdd={
                name:'',
                belong:'',
                desc:''
            };
            this.addVisible = true;
        },
        saveAdded(){
            if(this.formAdd.name.length==0 || this.formAdd.belong==0){
                return;
            }
            this.tableData.push({
                label:this.formAdd.name,
                type:this.formAdd.belong,
                desc:this.formAdd.desc,
                value:this.tableData.length+1
            });
            this.addVisible = false;
        },
        // 删除操作
        handleDelete(index, row) {
            // 二次确认删除
            this.$confirm('确定要删除吗？', '提示', {
                type: 'warning'
            })
                .then(() => {
                    this.$message.success('删除成功');
                    this.tableData.splice(index, 1);
                })
                .catch(() => {});
        },
        // 多选操作
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        delAllSelection() {
            const length = this.multipleSelection.length;
            let str = '';
            this.delList = this.delList.concat(this.multipleSelection);
            for (let i = 0; i < length; i++) {
                str += this.multipleSelection[i].name + ' ';
            }
            this.$message.error(`删除了${str}`);
            this.multipleSelection = [];
        },
        // 编辑操作
        handleEdit(index, row) {
            this.idx = index;
            this.form = row;
            this.dialogTitle = row.label;
            if(row.rules){
                this.tmp = row.rules;
            }else{
                this.tmp ={
                type:0,
                left:{
                        type:"2",
                        value:''
                },
                action:'+',
                right:{
                        type:"2",
                        value:''
                }
                };
            }
            this.editVisible = true;
        },
        // 保存编辑
        saveEdit() {
            this.editVisible = false;
            //this.$message.success(`修改第 ${this.idx + 1} 行成功`);
            this.tableData[this.idx].rules = this.tmp;
            this.$set(this.tableData, this.idx, this.form);
        },
        // 分页导航
        handlePageChange(val) {
            this.$set(this.query, 'pageIndex', val);
            this.getData();
        }
    }
};
</script>

<style scoped>
.handle-box {
    margin-bottom: 20px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 300px;
    display: inline-block;
}
.table {
    width: 100%;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.mr10 {
    margin-right: 10px;
}
.table-td-thumb {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
</style>
