<template>
    <el-card  class="pane" :style="randomRgb()" >
        
        <div  v-if="rule.type==0" >
            <div  style="width:auto;height:auto">
            <div class="item" v-if="rule.left.type==2" >
                <el-cascader v-if="rule.left.value!='solid'" @change="rightChange(rule,rule.left.value,1)" width="auto" 
                :options="fileList" :show-all-levels="false"
                :props="{ expandTrigger: 'hover' }"  
                v-model="rule.left.value" placeholder="请选择">
                   
                </el-cascader>
                <el-input v-if="rule.left.value=='solid'" v-model="rule.left.solid" type="number" style="width:120px" ></el-input>
            </div>
            <rule class="item" v-if="rule.left.type==1" :rule="rule.left.item"></rule>
            <div width="10px" >
                <el-select  v-model="rule.action" placeholder="请选择" style="width:80px">
                    <el-option key="a1" label="+" value="+"></el-option>
                    <el-option key="a2" label="-" value="-"></el-option>
                    <el-option key="a3" label="X" value="*"></el-option>
                    <el-option key="a4" label="/" value="/"></el-option>
                </el-select>
            </div>
            <div v-if="rule.right.type==2" width=auto>
                <el-cascader v-if="rule.right.value!='solid'" @change="rightChange(rule,rule.right.value,rule.right,2)" width="auto" 
                :options="rightList" :show-all-levels="false"
                :props="{ expandTrigger: 'hover' }"  
                v-model="rule.right.value" placeholder="请选择">
                   
                </el-cascader>
                <el-input v-if="rule.right.value=='solid'" v-model="rule.right.solid" type="number" style="width:120px" ></el-input>
            </div>
            <rule class="item" v-if="rule.right.type==1" :rule="rule.right.item"></rule>
            
            </div>
            
        </div>

        <div v-if="rule.type==2">
            <el-col >
                <el-select  v-model="rule.value" placeholder="请选择">
                    <el-option v-for="(item,index) in baseField" :key="index" :label="item.label" :value="item.value"></el-option>
                    
                </el-select>
            </el-col>
        </div>
        <rule class="item" v-if="rule.type==1" :rule="rule.item"></rule>
        <div v-if="rule.type == -1" class="ifdiv">
            <div>如果：
                <el-cascader v-if="rule.if.left.value!='solid'" @change="rightChange(rule,rule.if.left.value,3)" width="auto" 
                :options="fileList" :show-all-levels="false"
                :props="{ expandTrigger: 'hover' }"  
                v-model="rule.if.left.value" placeholder="请选择">
                </el-cascader>
                <el-input v-if="rule.if.left.value=='solid'" v-model="rule.if.left.solid" type="number" style="width:120px"></el-input>
                 <el-select  v-model="rule.if.action" placeholder="请选择" style="width:80px">
                    <el-option key="a1" label=">" value=">"></el-option>
                    <el-option key="a2" label="=" value="="></el-option>
                    <el-option key="a3" label="<" value="<"></el-option>
                    <el-option key="a4" label=">=" value=">="></el-option>
                    <el-option key="a5" label="<=" value="<="></el-option>
                    <el-option key="a6" label="!=" value="!="></el-option>
                </el-select>
                <el-cascader v-if="rule.if.right.value!='solid'" @change="rightChange(rule,rule.if.right.value,4)" width="auto" 
                :options="fileList" :show-all-levels="false"
                :props="{ expandTrigger: 'hover' }"  
                v-model="rule.if.right.value" placeholder="请选择">
                   
                </el-cascader>
                <el-input v-if="rule.if.right.value=='solid'" v-model="rule.if.right.solid" type="number" style="width:120px"></el-input>
            </div>
            <div style="text-align:left">则等于：
                <rule class="item"  :rule="rule.else"></rule>

            </div>
        </div>
        <br/>

    </el-card >
</template>

<script>
    import vRule from './Rule.vue'
    import { fetchBaseField, fetchRuleData } from '../../api/index';
    export default {
        name:"rule",
        data() {
            return {
              baseField:[],
              baseRule:[],
              fileList:[],
              rightList:[]
            }
        },
        props:{
            rule:{
                type:Object
            }
        },
        components:{
            vRule
        },
        methods: {
            isActive(path) {
                return path === this.$route.fullPath;
            },
            getBaseFiled() {
                 fetchBaseField(this.query).then(res => {
                    this.baseField = res.list;
                    this.fileList.push(
                    {
                        value: 'g1',
                        label: '基础值',
                        children:this.baseField
                    });
                    this.rightList.push(
                    {
                        value: 'g1',
                        label: '基础值',
                        children:this.baseField
                    });
                    
                });
                 fetchRuleData().then(res=>{
                    this.baseRule = res.list;
                    this.fileList.push(
                    {
                        value: 'g2',
                        label: '现有规则',
                        children:this.baseRule
                    });
                    this.rightList.push(
                    {
                        value: 'g2',
                        label: '现有规则',
                        children:this.baseRule
                    });
                })
                this.fileList.push({
                        value: 'g3',
                        label: '其他规则',
                        children:[{
                            value:'solid',
                            label:'固定值'
                        },{
                            value:'if',
                            label:'逻辑-如果'
                        },{
                            value:'obj',
                            label:'新建公式'
                        }]
                })
                this.rightList.push({
                        value: 'g3',
                        label: '其他规则',
                        children:[{
                            value:'solid',
                            label:'固定值'
                        },{
                            value:'if',
                            label:'逻辑-如果'
                        },{
                            value:'objright',
                            label:'新建公式'
                        }]
                })
                
            },
            randomRgb: function () {
            var R = Math.floor(Math.random() * 255);
            var G = Math.floor(Math.random() * 255);
            var B = Math.floor(Math.random() * 255);
            return { border: '1px solid rgb(' + R + ',' + G + ',' + B + ')' };
            },
            rightChange(rule, key,item){
                console.log(key[1])
                if(key[1]=='obj'){
                    rule.left={
                    type:1,
                    item:{
                        type:'0',
                        left:{
                            type:"2",
                            value:''
                        },
                        action:'*',
                        right:{
                            type:"2",
                            value:''
                        }
                    }
                }
                }else if(key[1]=='objright'){
                    rule.right={
                    type:1,
                    item:{
                        type:'0',
                        left:{
                            type:"2",
                            value:''
                        },
                        action:'*',
                        right:{
                            type:"2",
                            value:''
                        }
                    }
                }
                }else if(key[1] == 'if'){
                    let t={
                        type:1,
                        item:{type:-1,
                            if:{
                                action:'=',
                                left:{
                                    value:''
                                },
                                right:{
                                    value:''
                                }
                            },
                            else:{
                                type:'0',
                                left:{
                                    type:"2",
                                    value:''
                                },
                                action:'*',
                                right:{
                                    type:"2",
                                    value:''
                                }
                            }
                        }
                    }
                   if(item==1){
                       rule.left = t;
                   }else{
                       rule.right = t;
                   }
                }else if(key[1] =='solid'){
                    if(item==1) rule.left.value = 'solid'
                    if(item==2) rule.right.value = 'solid'
                    if(item==3) rule.if.left.value = 'solid'
                    if(item==4) rule.if.right.value = 'solid'
                }
                console.log(rule)
            }
        },
        computed: {
            showTags() {
                return 0;
            }
        },
        watch:{

        },
        created(){
            this.getBaseFiled();
           
        }
    }

</script>


<style>
 .pane{
     width: auto;
     height:auto;
     display: flex;
     flex-direction: row;
     text-align: center;
     padding: 2px;
     margin: 3px;

 }
 .item{
     margin-left: 10px;

     width: auto;
     height:auto;
     
 }
 .el-input__inner{
     color:randomRgb();
 }
 .itemselect{
     color:green
 }
 .ifdiv{
     display: flex;
     flex-direction: column;
 }


</style>
